<!doctype html>
<html>
<head>
	<title>Work Out Tracker</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<meta http-equiv="cache-control" content="no-cache" />
</head>
<body>
	{{{body}}}
</body>
</html>